   
<div class="row my-5">
  <div class="col-md-4">
    <div class="brdr w-25 mb-5"></div>
    <h2>Trending</h2>
    <h2>Movies</h2>
    <h2>To watch now</h2>
    <span class="spn">Most watched movies by day</span>
    <div class="brdr w-100 mt-5"></div>
  </div>

  <div class="col-md-2 my-2" *ngFor="let movie of trendingMovies">
    <a [routerLink]="['/moviedetails',movie.id]">
      <img [src]="imgBaseUrl+movie.poster_path" class="img-fluid my-2">
      <h4 class="h6">{{movie.title}}</h4>

    </a>
<!--     
    <div class="movie" routerLink="/details/{{movie.id}}/movie">
      <img [src]="imgBaseUrl+movie.poster_path" class="img-fluid my-2">
      <h4 class="h6">{{movie.title}}</h4>
    </div> -->
  </div>
</div>
<div class="d-flex justify-content-center m-5">
  <nav aria-label=" Page navigation example">
    <ul class=" pagination">
      <li  class="page-item"><a  (click)="prev()" class="page-link bg-transparent" >Previous</a></li>
      <li *ngFor="let num of [1,2,3,4,5]" class="page-item bg-transparent"><a (click)=" getpaginatedMovies(num)" class="page-link bg-transparent" >{{num}}</a></li>
      <li  class="page-item"><a (click)="next()" class="page-link bg-transparent" >Next</a></li>
    </ul>
  </nav>
  </div>